<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
</head>
<body>
    <h1>Delete Account</h1>
    <hr />
        <form action="{% url 'profile_app:delete_account' %}" method="POST">
            {% csrf_token %}
           <input type="password" name="password" placeholder="password" />
           <br/>
           <input type="text" name="confirm_delete" placeholder="TYPE DELETE" />
           <br />
           <button>Delete</button>
        </fomr>
    <hr />
    {% if error %}
        {{ error }}
    {% endif %}
</body>
</html>