{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'eshop/css/eshop.css' %}" media="screen"/> 
        <title>Eshop</title>
    </head>
    <body>

        <nav class="main-nav">
            <ul>
                <a href="{% url 'eshop:index' %}"><li>Home Page</li></a>
                <a href="{% url 'accounts:user_profile' %}"><li>My Profile</li></a>
                <a href="{% url 'eshop:shopping_cart' %}"><li>My Basket</li></a>
                <a href="{% url 'accounts:logout' %}"><li>Logout</li></a>
            </ul>
        </nav> 
            {% block content %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
            {% block scripts %}
            <script src="{% static 'eshop/js/cookies.js' %}"></script>
            {% endblock %}
    </body>
</html>