{% extends "eshop/base.html" %}
{% load static %}
{% block content %}

    <h1>Hello world</h1>
    <main>
        <form>
            <input type="text" name="title" placeholder="title">
            <input type="text" name="description" placeholder="description">
            <input type="number" name="price" placeholder="price">
            <input type="hidden" name="user_id" value="{{ user.id }}"> 
        </form>
        <button class="create-product-button" type="button">Create</button>
    </main>

{% endblock %}


{% block scripts %}
<!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}
    <script src="{% static 'eshop/js/createproduct.js' %}"></script>
    
{% endblock %}