{% extends "eshop/base.html" %}
{% load static %}
{% block content %}

    <h1>Hello world</h1>
    <main>
         <div>
            <h2 class="title"></h2>
            <p class="description"></p>
            <h4 class="price"></h4>
            <input type="hidden" name="product_id">
            <input type="hidden" name="shopping_cart_id" value={{ shoppingCartID }}>
            
        </div>
        <button class="buy-product-button" type="button">BUY</button>
    </main>

{% endblock %}


{% block scripts %}
<!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}
    <script src="{% static 'eshop/js/productdetail.js' %}"></script>
    
{% endblock %}