{% extends "eshop/base.html" %}
{% load static %}
{% block content %}

    <h1>Shopping Cart</h1>
    <main>
        <input type="hidden" name="shopping_cart_id" value={{ shoppingCartID }}>
        <div class="order-products-list">
           
        
        </div>
        <a href="{% url 'eshop:checkout' %}"><button class="check-out-button" type="button">Check Out</button></a>
    </main>
    <template class="order-item-template">
        <a class="product-detail-link">
            <div>
                <h2 class="title">Title</h2>
                <p class="description">description</p>
                <h4 class="price">price</h4>
            </div>
            <button type="button" class="remove-btn">Remove</button>
        </a>  
    </template>
{% endblock %}


{% block scripts %}
<!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}
    <script src="{% static 'eshop/js/shoppingcart.js' %}"></script>
{% endblock %}